@import 'chunks/normalize.css';

@font-face {
  font-family: "'georgia-regular', sans-serif;";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/font/georgia/regular/georgia-regular.eot");
  src: local("'georgia-regular', sans-serif;"), url("/assets/font/georgia/regular/georgia-regular.eot?#iefix") format("embedded-opentype"), url("/assets/font/georgia/regular/georgia-regular.woff2") format("woff2"), url("/assets/font/georgia/regular/georgia-regular.woff") format("woff"), url("/assets/font/georgia/regular/georgia-regular.ttf") format("truetype");
}

@font-face {
  font-family: "'arial-regular', sans-serif";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/font/arial/regular/arial-regular.eot");
  src: local("'arial-regular', sans-serif"), url("/assets/font/arial/regular/arial-regular.eot?#iefix") format("embedded-opentype"), url("/assets/font/arial/regular/arial-regular.woff2") format("woff2"), url("/assets/font/arial/regular/arial-regular.woff") format("woff"), url("/assets/font/arial/regular/arial-regular.ttf") format("truetype");
}

@font-face {
  font-family: "'arial-italic', sans-serif";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/font/arial/italic/arial-italic-regular.eot");
  src: local("'arial-italic', sans-serif"), url("/assets/font/arial/italic/arial-italic-regular.eot?#iefix") format("embedded-opentype"), url("/assets/font/arial/italic/arial-italic-regular.woff2") format("woff2"), url("/assets/font/arial/italic/arial-italic-regular.woff") format("woff"), url("/assets/font/arial/italic/arial-italic-regular.ttf") format("truetype");
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  -webkit-transition-property: opacity background border-color;
  -o-transition-property: opacity background border-color;
  transition-property: opacity background border-color;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.btn:active:not(:disabled) {
  opacity: 0.8;
}

.btn:hover:not(:disabled) {
  border-color: #FDDCC4;
}

.btn:disabled {
  border-color: #CDCDCD;
}

.button {
  display: inline-block;
  padding: 15px 45px;
  text-decoration: none;
  border-radius: 100px;
  -webkit-transition-property: opacity background-color border-color;
  -o-transition-property: opacity background-color border-color;
  transition-property: opacity background-color border-color;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.button:active {
  text-decoration: underline;
  opacity: 0.8;
}

.button:hover {
  background: #FDDCC4;
}

.button_theme_primary {
  background: #F1CDB3;
}

.button_theme_secondary {
  background: transparent;
  border: 2px solid #F1CDB3;
}

.button_theme_secondary:hover {
  border-color: #FDDCC4;
}

.button__text {
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.card {
  background: #FAFAFA;
  width: 270px;
  height: 435px;
  text-align: center;
  border-radius: 9px;
  -webkit-transition-property: opacity transform;
  -o-transition-property: opacity transform;
  transition-property: opacity transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
}

.card:active {
  opacity: 0.8;
}

.card:hover {
  -webkit-transform: translateY(-10px) scale(1.07);
  -ms-transform: translateY(-10px) scale(1.07);
  transform: translateY(-10px) scale(1.07);
}

.card__title {
  margin-top: 23px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.card__button {
  margin-top: 29px;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: "georgia-regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  max-width: 1280px;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.credit-card {
  background: #F1CDB3;
  display: inline-block;
  padding: 10px 15px 10px 60px;
  border-radius: 9px;
  text-decoration: none;
  background: 15px/30px 23px no-repeat url("../../../assets/img/icons/credit-card.png"), #F1CDB3;
  -webkit-transition-property: opacity background-color;
  -o-transition-property: opacity background-color;
  transition-property: opacity background-color;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.credit-card:hover {
  background: 15px/30px 23px no-repeat url("../../../assets/img/icons/credit-card.png"), #FDDCC4;
}

.credit-card:active {
  text-decoration: underline;
  opacity: 0.8;
}

.credit-card__text {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  white-space: nowrap;
}

.description {
  font: normal 400 15px/160% "arial-regular", sans-serif;
}

.description_color_dark-xl {
  color: #4C4C4C;
}

.description_color_dark-s {
  color: #CDCDCD;
}

.footer {
  background: -o-radial-gradient(5.73% 50%, 110.67% 538.64%, #513D2F 0%, #1A1A1C 100%), #211F20;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 160px;
  padding-top: 39px;
}

.footer__address {
  display: grid;
  grid-template-areas: "title-contact title-location" "email marker-1" "phone marker-2";
  grid-template-columns: 293px 296px;
  gap: 40px 161px;
  padding-bottom: 58px;
}

.footer__title[data-grid-area=title-contact] {
  grid-area: title-contact;
}

.footer__title[data-grid-area=title-location] {
  grid-area: title-location;
}

.footer__info[data-grid-area=email] {
  grid-area: email;
}

.footer__info[data-grid-area=phone] {
  grid-area: phone;
}

.footer__info[data-grid-area=marker-1] {
  grid-area: marker-1;
}

.footer__info[data-grid-area=marker-2] {
  grid-area: marker-2;
}

.footer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.goods {
  text-align: center;
}

.goods__img {
  max-width: 100px;
  max-height: 100px;
}

.goods__title {
  max-width: 200px;
  margin-top: 30px;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header_theme_light {
  background: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info__icon {
  margin-right: 20px;
}

.info__text {
  font: normal 400 20px/115% "georgia-regular", sans-serif;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
  -webkit-transition-property: opacity color;
  -o-transition-property: opacity color;
  transition-property: opacity color;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.info__text:hover {
  color: #fff;
}

.info__text:active {
  text-decoration: underline;
  opacity: 0.8;
}

.logo__container {
  text-decoration: none;
}

.logo__title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.logo__title_color_primary {
  color: #F1CDB3;
}

.logo__title_color_dark-l {
  color: #545454;
}

.logo__subtitle {
  font: normal 400 13px/15px "arial-regular", sans-serif;
  letter-spacing: 0.1em;
}

.logo__subtitle_color_white {
  color: #fff;
}

.logo__subtitle_color_dark-3xl {
  color: #292929;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link {
  font: normal 400 15px/160% "arial-regular", sans-serif;
  position: relative;
  text-decoration: none;
  -webkit-transition-property: color opacity;
  -o-transition-property: color opacity;
  transition-property: color opacity;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.nav__link:active:not(.nav__link_active) {
  text-decoration: underline;
  opacity: 0.8;
}

.nav__link_color_dark-s {
  color: #CDCDCD;
}

.nav__link_color_dark-s.nav__link_active {
  color: #FAFAFA;
}

.nav__link_color_dark-s:hover {
  color: #FAFAFA;
}

.nav__link_color_dark-l {
  color: #545454;
}

.nav__link_color_dark-l.nav__link_active {
  color: #292929;
}

.nav__link_color_dark-l:hover {
  color: #292929;
}

.nav__link_active::before {
  background: #F1CDB3;
  content: "";
  display: block;
  position: absolute;
  top: 1.5em;
  width: 100%;
  height: 3px;
}

.pagination__first:disabled {
  background: center no-repeat url(../../../assets/img/icons/double-prev-inactive.webp);
}

.pagination__prev:disabled {
  background: center no-repeat url(../../../assets/img/icons/single-prev-inactive.webp);
}

.pagination__prev:not(:disabled) {
  background: center no-repeat url(../../../assets/img/icons/single-prev-active.webp);
}

.pagination__prev:not(:disabled):hover {
  background: center no-repeat url(../../../assets/img/icons/single-prev-active.webp) #FDDCC4;
}

.pagination__display {
  font: normal 400 20px/115% "georgia-regular", sans-serif;
  background: #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  letter-spacing: 0.06em;
  color: #292929;
}

.pagination__next:disabled {
  background: center no-repeat url(../../../assets/img/icons/single-prev-inactive.webp);
}

.pagination__next:not(:disabled) {
  background: center no-repeat url(../../../assets/img/icons/single-next-active.webp);
}

.pagination__next:not(:disabled):hover {
  background: center no-repeat url(../../../assets/img/icons/single-next-active.webp) #FDDCC4;
}

.pagination__last:disabled {
  background: center no-repeat url(../../../assets/img/icons/double-prev-inactive.webp);
}

.pagination__last:not(:disabled) {
  background: center no-repeat url(../../../assets/img/icons/double-next-active.webp);
}

.pagination__last:not(:disabled):hover {
  background: center no-repeat url(../../../assets/img/icons/double-next-active.webp) #FDDCC4;
}

.slider {
  position: relative;
}

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 90px;
  -moz-column-gap: 90px;
  column-gap: 90px;
}

.slider__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slider__btn_theme_normal-prev {
  left: 0;
  background: center no-repeat url("../../../assets/img/icons/arrow-prev.png");
}

.slider__btn_theme_normal-prev:hover {
  background: center no-repeat url("../../../assets/img/icons/arrow-prev.png") #FDDCC4;
}

.slider__btn_theme_normal-next {
  right: 0;
  background: center no-repeat url("../../../assets/img/icons/arrow-next.png");
}

.slider__btn_theme_normal-next:hover {
  background: center no-repeat url("../../../assets/img/icons/arrow-next.png") #FDDCC4;
}

.title {
  font: normal 400 35px/130% "georgia-regular", sans-serif;
  letter-spacing: 0.06em;
}

.title_color_dark-l {
  color: #545454;
}

.title_color_white {
  color: #fff;
}

.about {
  background: #fff;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 120px;
  padding: 94px 0 114px 0;
}

.about__img {
  width: 300px;
  height: 408px;
}

.about__content {
  width: 430px;
}

.about__title {
  margin-bottom: 25px;
}

.about__text:not(:last-child) {
  margin-bottom: 25px;
}

.donation {
  background: #F6F6F6;
}

.donation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  padding-top: 80px;
  padding-bottom: 82px;
}

.donation__img {
  height: 261px;
  width: 505px;
}

.donation__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 349px;
  flex: 0 1 349px;
}

.donation__title {
  margin-bottom: 20px;
}

.donation__subtitle {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__credit-card {
  margin-bottom: 20px;
}

.donation__description {
  font: italic 400 12px/18px "arial-italic", sans-serif;
  color: #B2B2B2;
}

.help {
  background: #fff;
}

.help__container {
  padding-top: 78px;
  padding-bottom: 99px;
}

.help__title {
  margin-bottom: 60px;
  text-align: center;
}

.help__goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 47px 119px;
}

.pets {
  background: #F6F6F6;
}

.pets__container {
  padding-top: 80px;
  padding-bottom: 100px;
}

.pets__title {
  margin-bottom: 60px;
  text-align: center;
}

.pets__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;
}

.promo {
  background: -o-radial-gradient(0% 0%, 100% 215.42%, #5B483A 0%, #262425 100%);
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.promo__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 60px;
}

.promo__content {
  margin-top: 162px;
  width: 460px;
}

.promo__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #fff;
}

.promo__description {
  margin-top: 42px;
}

.promo__button {
  margin-top: 43px;
}

.promo__img {
  width: 698px;
  height: 728px;
}

@supports (-webkit-appearance:none) {
  .credit-card {
    background: 15px/30px 23px no-repeat url("../../../assets/img/icons/credit-card.webp"), #F1CDB3;
  }

  .credit-card:hover {
    background: 15px/30px 23px no-repeat url("../../../assets/img/icons/credit-card.webp"), #FDDCC4;
  }

  .slider__btn_theme_normal-prev {
    background: center no-repeat url("../../../assets/img/icons/arrow-prev.webp");
  }

  .slider__btn_theme_normal-prev:hover {
    background: center no-repeat url("../../../assets/img/icons/arrow-prev.webp") #FDDCC4;
  }

  .slider__btn_theme_normal-next {
    background: center no-repeat url("../../../assets/img/icons/arrow-next.webp");
  }

  .slider__btn_theme_normal-next:hover {
    background: center no-repeat url("../../../assets/img/icons/arrow-next.webp") #FDDCC4;
  }
}