@use 'sass:map';

.complete-card {
  display: grid;
  grid-template-columns: 1.35fr 1fr;
  grid-column-gap: 30px;
  max-width: 900px;
  border-radius: $modal-border-radius;
  background-color: $color-white;
  overflow: hidden;
  @media (max-width: 1058px) {
    max-width: 83vw;
  }
  @media (max-width: map.get($breakpoints, 'lg')) {
    grid-column-gap: 11px;
  }
  @media (max-width: 760px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 550px) {
    grid-template-columns: 1fr;
    max-width: 78vw;
  }
  &:hover {
    box-shadow: $box-shadow-card-hover;
  }
  &__img {
    max-width: 500px;
    &-item {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 550px) {
      display: none;
    }
  }
  &__data {
    padding: 50px 12px 10px 0;
    @media (max-width: map.get($breakpoints, 'lg')) {
      padding: 10px 10px 5px 0;
    }
    @media (max-width: 550px) {
      padding: 10px;
    }
  }
  &__name {
    margin-bottom: 12px;
    @media (max-width: 550px) {
      text-align: center;
    }
  }
  &__who {
    display: flex;
    @include font-georgia-regular;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-black;
    @media (max-width: 550px) {
      @include flex-center-h;
    }
  }
  &__type {
  }
  &__separator {
    margin: 0 3px 3px;
  }
  &__breed {
  }
  &__description {
    margin-top: 40px;
    margin-bottom: 40px;
    @media (max-width: map.get($breakpoints, 'lg')) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &-item {
      @include font-georgia-regular;
      font-size: 15px;
      line-height: 110%;
      letter-spacing: 0.06em;
      color: $color-black;
      @media (max-width: map.get($breakpoints, 'lg')) {
        font-size: 13px;
      }
      @media (max-width: 550px) {
        text-align: justify;;
      }
    }
  }
  &__info {
  }
  &__field {
    position: relative;
    padding-left: 14px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $color-primary;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
      @media (max-width: map.get($breakpoints, 'lg')) {
        margin-bottom: 5px;
      }
    }
  }
  &__key {
    @include font-georgia-bold;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-black;
  }
  &__value {
    @include font-georgia-regular;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-black;
  }
}
