@use 'sass:map';

html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  font-family: $font-family-base;
  font-style: $font-style-base;
  font-weight: $font-weight-base;
}
body._lock {
  overflow: hidden;
}
.wrapper {
  @include wrapper;
}
.container {
  @include container;
  @media (max-width: map.get($breakpoints, 'md')) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: map.get($breakpoints, 'sm')) {
    padding-left: 15px;
    padding-right: 15px;
  }
}