
.card {
  width: 270px;
  height: 435px;
  text-align: center;
  background-color: $color-light-s;
  border-radius: 9px;
  &__img {
  }
  &__img-item {
  }
  &__title {
    margin-top: 30px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
  }
  &__button {
    margin-top: 25px;
  }
}

