.info {
  @include flex-center-v;
  &__icon {
    margin-right: 20px;
  }
  &__text {
    @include font-georgia-regular;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    &_link {
      text-decoration: none;
      transition-property: opacity color;
      transition-duration: .2s;
      &:hover {
        color: $color-white;
      }
      &:active {
        text-decoration: underline;
        opacity: 0.8;
      }
    }
  }
}