.donation {
  background-color: $color-light-l;
  &__container {
    @include flex-center-h;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    padding-top: 80px;
    padding-bottom: 82px;
  }
  &__img {
    height: 261px;
    width: 505px;
  }
  &__img-item {
  }
  &__content {
    flex: 0 1 349px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__subtitle {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
  }
  &__credit-card {
    margin-bottom: 20px;
  }
  &__description {
    @include font-arial-italic-regular;
    font-size: 12px;
    line-height: 18px;
    color: $color-dark-m;
  }
}


