.help {
  background-color: $color-white;
  &__container {
    padding-top: 78px;
    padding-bottom: 99px;
  }
  &__title {
    margin-bottom: 60px;
    text-align: center
  }
  &__goods {
    @include flex-center-h;
    flex-wrap: wrap;
    gap: 47px 119px;
  }
}
