.pets {
  background-color: $color-light-l;
  &__container {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  &__title {
    margin-bottom: 60px;
    text-align: center;
  }
  &__button {
    @include flex-center-h;
    margin-top: 60px;
  }
}