.btn {
  width: 52px;
  height: 52px;
  @extend %reset-button;
  border: 2px solid $color-primary;
  border-radius: 50%;
  transition-property: opacity background border-color;
  transition-duration: .2s;
  &:active:not(:disabled) {
    opacity: 0.8;
  }
  &:hover:not(:disabled) {
    border-color: $color-primary-light;
    // The background-color property is converted by gulp to the background property and causes conflicts
    // background-color: $color-primary-light;
  }
  &:disabled {
    border-color: $color-dark-s;
  }
}