@use 'sass:map';

.header {
    &_theme_light {
        background-color: $color-white;
    }
    &__container {
        @include flex-center-v;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__nav {
        @media (max-width: map.get($breakpoints, 'md')) {
            display: none;
        }
    }
    &__burger {
        display: none;
        @media (max-width: map.get($breakpoints, 'md')) {
            display: block;    
        }
    }
}
