@import '../_mixins/font-face.scss';

// connecting fonts
// @include font-face('Montserrat', '/font/montserrat/black/montserrat-black', 900);
// @include font-face('Montserrat', '/font/montserrat/extrabold/montserrat-extrabold', 800);
// @include font-face('Montserrat', '/font/montserrat/bold/montserrat-bold', 700);
// @include font-face('Montserrat', '/font/montserrat/semibold/montserrat-semibold', 600);
// @include font-face('Montserrat', '/font/montserrat/medium/montserrat-medium', 500);
@include font-face('Georgia', '/assets/font/georgia/regular/georgia-regular', 400);
@include font-face('Arial', '/assets/font/arial/regular/arial-regular', 400);
@include font-face('Arial', '/assets/font/arial/italic/arial-italic-regular', 400);

// @include font-face('Montserrat', '/font/montserrat/light/montserrat-light', 300);

// mixins for fonts
// @mixin font-montserrat-black {
//     font-weight: 900;
//     font-style: normal;
// }
// @mixin font-montserrat-extrabold {
//     font-weight: 800;
//     font-style: normal;
// }
// @mixin font-montserrat-bold {
//     font-weight: 700;
//     font-style: normal;
// }
// @mixin font-montserrat-semibold {
//     font-weight: 600;
//     font-style: normal;
// }
// @mixin font-montserrat-medium {
//     font-weight: 500;
//     font-style: normal;
// }
@mixin font-georgia-regular {
    font-family: 'Georgia';
    font-weight: 400;
    font-style: normal;
}
@mixin font-arial-regular {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
}
@mixin font-arial-italic-regular {
    font-family: 'Arial';
    font-weight: 400;
    font-style: italic;
}
// @mixin font-montserrat-light {
//     font-weight: 300;
//     font-style: normal;
// }
