@use "sass:map";

.donation {
  background-color: $color-light-l;
  &__container {
    @include flex-center-h;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 60px;
    padding-top: 80px;
    padding-bottom: 82px;
    @media (max-width: map.get($breakpoints, 'md')) {
      row-gap: 41px;
      padding-bottom: 99px;
    }
    @media (max-width: map.get($breakpoints, 'sm')) {
      padding-top: 42px;
      padding-bottom: 42px;
    }
    @media (max-width: map.get($breakpoints, 'xs')) {
      row-gap: 26px;
    }
  }
  &__img {
    max-height: 261px;
    max-width: 505px;
    @media (max-width: map.get($breakpoints, 'xs')) {
      height: 135px;
      width: 260px;
    }
  }
  &__img-item {
    @extend %img;
  }
  &__content {
    flex: 0 1 349px;
    @media (max-width: map.get($breakpoints, 'md')) {
      order: -1;
    }
    @media (max-width: map.get($breakpoints, 'xs')) {
      text-align: center;
    }
  }
  &__title {
    margin-bottom: 20px;
    @media (max-width: map.get($breakpoints, 'sm')) {
      font-size: 25px;
      margin-bottom: 25px;
    }
  }
  &__subtitle {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    @media (max-width: map.get($breakpoints, 'xs')) {
      margin-bottom: 7px;
    }
  }
  &__card {
    margin-bottom: 20px;
    &-item {
    }
    &-text {
      @media (max-width: map.get($breakpoints, 'sm')) {
        font-size: 15px;
      }
    }
  }
  &__description {
    @include font-arial-italic-regular;
    font-size: 12px;
    line-height: 18px;
    color: $color-dark-m;
    @media (max-width: map.get($breakpoints, 'xs')) {
      text-align: justify;
    }
  }
}


