@use 'sass:map';

$slides-gap: 6%;

.pets {
  background-color: $color-light-l;
  &__container {
    padding-top: 80px;
    padding-bottom: 100px;
    @media (max-width: map.get($breakpoints, 'sm')) {
      padding-top: 42px;
      padding-bottom: 42px;
    }
  }
  &__title {
    margin-bottom: 60px;
    text-align: center;
    @media (max-width: map.get($breakpoints, 'sm')) {
      margin-bottom: 8px;
      font-size: 25px;
    }
  }
  &__slider {
    width: 82.5%;
    margin: 0 auto;
    @media (max-width: 742px) {
      width: 270px;
    }
    &-container {
      display: grid;
      grid-template-columns: 100% 100% 100%;
      transform: translateX(-100% - $slides-gap);
      grid-column-gap: $slides-gap;
    }
    &-btns {
      display: flex;
      justify-content: space-between;
      @media (max-width: 500px) {
        width: 184px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &-btn {
      @media (max-width: 500px) {
        position: static;
        transform: translateY(0);
      }  
    }
    &-item {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-between;
      &_transition_right {
        animation-name: move-right;
        animation-duration: 2s;
      }
      &_transition_left {
        animation-name: move-left;
        animation-duration: 2s;
      }
      @media (max-width: 1068px) {
        grid-template-columns: auto auto;
        justify-content: space-around;
      }
      @media (max-width: map.get($breakpoints, 'md')) {
        justify-content: space-between;
      }
      & .card:last-child {
        @media (max-width: 1068px) {
          display: none;
        }
      }
      & .card:nth-child(2) {
        @media (max-width: 742px) {
          display: none;
        }
      }
    }
  }
  &__button {
    @include flex-center-h;
    margin-top: 60px;
    @media (max-width: map.get($breakpoints, 'sm')) {
      margin-top: 42px;
    }
  }
}
 
@keyframes move-right {
  from {transform: translateX(-100% - $slides-gap);}
  to {transform: translateX(-200% - $slides-gap * 2);}
}
@keyframes move-left {
  from {transform: translateX(-100% - $slides-gap);}
  to {transform: translateX(0%);}
}
